body{
    background-image: url("desk.jpg");
    background-position: center;
    margin: 2%;
    padding-top: 1%;
}
.header{
    text-align: center;
    font-size: 2vw;
    color: dodgerblue;
    top: 0;
    left: 0;
    background-color: aliceblue;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




